@charset "utf-8";

/* 
    body
    #container
    header
    header img
    header h1
    ul li
    nav
    header nav a:link, header nav a:visited
    header nav a:hover
    .burger
    .burger:hover
    .burger-line
    main
    main h2
    main article
    aside
    footer
    footer ul li
    .introDivLeft
    .introDivRight
    #countingDiv
    #countingDivTable
    #countingDiv table, th, td
    #cardGame p
    #cardGame table
    #cardGame img
    #questionsDiv ul li
    #answerDiv
    .questionElement
    
    @media query
    .burger
*/

body {
    background-color: #000;
    padding: 0px;
    margin: 0px;
    font-family: "Raleway", sans-serif;
    text-indent: 16px;
    letter-spacing: 2px;
}

#container {
    background-color: white;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}


/*
    header section
*/

header {
    background-color: #000;
}


header img  {
    width: 100%;
    height: 700px;
    filter: sepia(30%);
}

header h1 {
    color: white; 
    font-size: 3rem;
    padding-bottom: 2rem;
}

/*
    applies to all unordered list
*/

ul li {
    display: inline;
    text-decoration: none;
}

/*
    nav section
*/

nav {
    text-align: center;
    padding-top: 1em;
}


header nav a:link, header nav a:visited {
    color: white;
    text-decoration: none;
    padding-right: 2rem;
    font-size: 1.6em;
    font-weight: bold;
}

header nav a:hover {
    color: silver;
}

.burger {
/*    background-color: white;*/
    visibility: hidden;
    float: right; /* position burger ar right */
    border-radius: 5px; /* slightly rounded corners */
    border: 2px solid #222; /* thin dark gray border */
    cursor: pointer; /* like a button on mouseover */
    width: 35px; /* not too big, cuz it's a "buttion" */
    text-align: center; /* for centering burger lines */
    padding: 3px;  /* inset the burger lines */
    margin-right: 1em; /* space around burger */
    margin-bottom: 2em;
    position: absolute;
    top: 10px;
    right: 1px;
    z-index: 10;
}

.burger:hover {
    background-color: silver;
}

.burger-line {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 6px;
}

/*
    main section
*/

main {
    color: black;
    width: 100%;
    min-height: 650px;
}

main h2 {
    text-align: center;
    margin: 0 auto;
}

main article {
    margin: 0 auto;
    padding: 4em;
    padding-top: 0;
    padding-bottom: 0;
}

/*
    aside section
*/
aside {
    color: black;
    width: 100%;
    min-height: 650px;
}

/*
    footer section
*/

footer {
    clear: both;
    width: 100%;
    min-height: 100px;
/*    border: 2px solid red;*/
}

footer ul li {
    padding-right: 2rem;
}


/*
    index page
*/

#countingDiv {
    width: 80%;
    margin: 0 auto;
    padding-top: 5rem;
}

#countingDiv table {
    width: 100%;
    height: 400px;
}

#countingDiv table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

/* cardgame page */

#cardGame p {
    text-align: left;
    padding-left: 3rem;
}

#cardGame table {
    padding: 2rem 3rem 2rem 3rem;
}

#cardGame img {
    padding-bottom: 2rem;
}

/*
    questions page
*/

#questionsDiv {
    width: 80%;
    margin: 0 auto;
}

.questionElement ul li {
    padding-bottom: 1.5em;
    text-align: center;
    display:block;
}

.questionElement {
    padding-bottom: 3rem;
}


.ansDiv {
    font-size: 1.3rem;
    padding-top: 1.3rem;
    color: green;
}

@media only screen and (max-width: 960px) {
    
    .burger {
        visibility: visible;
    }
            
} /* end media query */